/* importing raleway and reboto fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

/* variables for different colors being used in layout */
:root{
  --main-bg-color: #FFFFFF;
  --main-color: #212121;
  --main-heading-color: #FFFFFF;
  --request-our-service-color:#0a7ddb;
  --webstudio-link-color: #2196F3;
  --request-studio-color: #FFFFFF;
  --contact-detail-header: #757575;
  --heading-bg-color: #2F303A;
  --selection-titles-color: #212121;
  --our-team-bg-color: #F5F4FA;
  --description-color: #757575;
  --active-and-hover-color: #2196F3;
  --white-text-color-: #FFFFFF;
  --button-bg-color:#F5F4FA;
  --address-footer-color: #FFFFFF;
  --contact-detail-footer:rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2F303A;
  
}

body{
  background-color: var(--main-bg-color);
  font-family: 'Roboto',sans-serif;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
}
ul{
  list-style-type: none;
}
/*header-styling */
.webstudio-link{
  color: var(--webstudio-link-color);
  text-decoration: none;
  font-family: 'Raleway',sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.menu-item{
  cursor: pointer;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-item:hover,
.menu-item:active,
.menu-item:focus{
  color: var(--active-and-hover-color);
 }
.contact-detail{
  text-decoration: none;
  color: var(--contact-detail-header);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-detail:hover,
.contact-detail:focus{
  color: var(--active-and-hover-color);
}
/* main styling */
.title-div{
  background-color: var(--heading-bg-color);
}
.effective-solution-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-heading-color);
}
.request-our-service-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--request-our-service-color);
  color: var(--request-studio-color);
  cursor: pointer;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

}
.features-description{
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.what-we-do-title,
.our-team,
.portfolio-projects-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-section{
  background-color: var(--our-team-bg-color);
}
.team-member-name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.profession{
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--description-color)
}
/*footer styling */
.footer{
background-color: var(--footer-bg-color);
}
.address-footer{
  list-style-type: none;
}
.address{
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-footer-color);
  font-style: normal;
}
.contact-detail-footer{
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-detail-footer);
}
.contact-detail-footer:hover,
.contact-detail-footer:active,
.contact-detail-footer:focus{
    color: var(--active-and-hover-color);
}

/* portfolio website*/
.button-item{
  background-color: var(--button-bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-item:hover,
.button-item:focus{
  background-color: var(--active-and-hover-color);
  color: var(--white-text-color);
  cursor: pointer;
}
.project-example{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.nav-link-current{
  color:#2196F3;
}

